a { 
    color: gray; 
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: ghostwhite;
}

footer {
    color: gray;
}

h1 {
    text-align: center;
    color: gray;
}

h2 {
    text-align: center;
    color: gray;
}


li {
    list-style-type: circle;
}


p {
    line-height: 150%;
    color: darkslategrey;
}

section {
    background-color: ghostwhite;
}

